<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Verify</title>
    </head>

    <body>
        {% with password_msg = get_flashed_messages() %}
        {% if password_msg %}
            {{ password_msg }}
        {% endif %}
        {% endwith %}
        <h1>Change Password</h1>
        <h4>Enter new password</h4>
        <form method="POST">
            <input type="password" name="userPassword" placeholder="Password" required><br><br>
            <input type="password" name="userRePassword" placeholder="Re-type your Password" required><br><br>
            <input type="submit" value="Confirm">
        </form>
        
    </body>
</html>